<div class="container">
  <h1 class="hero-contact">About us</h1>
    <p>For more than 25 years, ACCR has worked with State Chambers of Commerce/Associations of Business and Industry across the country. Our goal is to provide employers and HR professionals with the resources they need to stay in compliance with the rapidly changing world of employment laws and regulations. Our manuals tell you:</p>
      <ul>
        <li>what to do</li>
        <li>how to do it</li>
        <li>and a little bit of why.</li>
      </ul>

      <p>No legalese, no endless strings of case citations…our guidebooks simply get you the answers you need, so that you can get back to business.</p>

      <p>If seeing is believing, come explore our Publications section and READ A CHAPTER from a book written specifically for your state.</p>

      <h2 class="hero-contact">OUR HISTORY</h2>
      <p>In the early 1980’s, Dick Apland, the godfather of ACCR, worked for the Illinois Chamber of Commerce. He found the Chamber struggling as they attempted to sustain themselves on member dues alone. He then came up with a few ideas for non-dues programs – which today we call the affinity programs.</p>

      <p>After offering programs like deals on rental cars, seminars, insurance, and human resources books, the Illinois Chamber started to see their revenue increase, which further financed the ways they could support their members. Other Chambers saw the growing success of the Illinois Chamber and its member’s businesses and Dick Apland became the Johnny Appleseed of non-dues income, spreading the word by visiting Chambers across the country and showing them how he’d planted success with the affinity programs.</p>

      <p>These programs wouldn’t run themselves and many Chambers found they didn’t have the manpower to implement and market the programs. So Dick started a company, Apland + Associates, that made the affinity programs available on a turn-key basis. Now the Chambers could still provide access to money-saving programs without having to add any staff.</p>

      <p>Dick also saw the need for adding new staff. Within a few years, he would have a family-run business, as his two sons, Brad and Scott, and two daughters, Kari and Kelly, joined the team. Although the affinity programs were up and running well, they soon discovered that their best asset was the plain-English library of human resources books.</p>

      <p>In 1999, Dick turned the company over to his two sons. By that time, they had worked with more than 40 of the State Chambers/Associations. This achievement drew the attention of HR Comply and the business was purchased in January of 2000.</p>

      <p>Then, in 2004, the South Carolina Chamber of Commerce contacted Brad and Scott, asking them to help with the Chamber’s human resources publishing operation. The wheels were oiled and American Chamber of Commerce Resources was started. Two years later, Brad and Scott weren’t the only two employees – they quickly grew to support more than 15 employees, and the company continues to expand.</p>

      <p>After more than 25 years, ACCR maintains Dick Apland’s goal to assist Chambers of Commerce, employers, and human resources professionals across the country. With the constantly evolving landscape of labor and employment law, our books have taken top priority as we continue to help employers and HR professionals stay in compliance with laws and regulations. To this day, there remains no other company that serves Chamber of Commerces in their search for non-dues revenue programs like ACCR.</p>
</div>