      <a href="http://www.hrsimple.com">
        <section class="hero-title">
            <h1 class="hero-text text-center"> 
              We moved our employment law manuals<br>and the HR Libraries to a new website<br>(click here to join the movement).
            </h1>
          </section>
        </a>
    <div class="container-fluid">
    <section class="row">
      <div class="col-md-6 text-center hero-content-2">
        <a href="http://www.hrsimple.com/store-pricing-page"><span class="glyphicon glyphicon-book"></span></a>
        <h2 class="point-title">Employment Laws</h2>
        <p class="point-description"><a href="http://www.hrsimple.com">hrsimple.com</a> is the new and improved version of accr.biz. The new website still has all of the same, great material including all of the books, plus now you can access and search all of the information online!  hrsimple.com includes access to a continuous flow of updated HR information and trends. New benefits include an HR-update notification center, email alerts, HR news you-can-use, best practice advice, webinars and much more.</p>
        <p><a href="http://www.hrsimple.com/store-pricing-page" class="btn btn-green" role="button">Visit hrsimple</a></p>
      </div>
      <div class="col-md-6 text-center hero-content-2">
        <%= link_to " ", partners_path, class: "glyphicon glyphicon-globe" %>
        <h2 class="point-title">Who we work with</h2>
        <p class="point-description">American Chamber of Commerce Resources creates and manages affinity programs with and for state chambers of commerce and associations of businesses, including <a href="http://www.hrsimple.com">hrsimple.com</a>, The Florida ChamberPerks affinity program and My Future 401K. We also work with law firms around the country to bring you the HR information you need online, in books and in webinars.</p>
        <%= link_to "Discover our partners", partners_path, class: "btn btn-green" %>
      </div>
      

    </section>
  </div>

<script>

  $(function(){
      $(".").typed({
        strings: ["^1000affinity programs.", "employment laws.", "customer service."],
        typeSpeed: 115,
        backSpeed: 45,
        backDelay: 500,
        loop: true,

      });
  });
</script>

