<div class="container-fluid">
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <div class="hero-title">
          <h1 class="hero-text">Better  <span class="element"> </span></h1>
        </div>
      </div>
    </div>
  </div>
    <section class="row">
      <div class="col-md-6 text-center hero-content-2">
        <span class="glyphicon glyphicon-book"></span>
        <h2 class="point-title">Employment Laws</h2>
        <p class="point-description">hrsimple.com is the new and improved version of accr.biz. The new website still has all of the same, great material as before plus more!  hrsimple.com now includes a personal profile and provides access to a continuous flow of updated HR information and trends. A few of the many improvements include an HR-update notification center, email alerts, HR news you-can-use, best practice advice and much more.</p>
        <p><a href="http://www.hrsimple.com/store-pricing-page" class="btn btn-green" role="button">Visit hrsimple</a></p>
      </div>
      <div class="col-md-6 text-center hero-content-2">
        <span class="glyphicon glyphicon-stats"></span>
        <h2 class="point-title">Who we work with</h2>
        <p class="point-description">American Chamber of Commerce Resources creates and manages affinity programs, collectively, with state chambers of commerce and associations of businesses throughout the united states.  A few to name include our in-house serivce, hrsimple.com , Florida's Chamber Perks, and other projects from 401K plans to publishing marketing content and webinars.</p>
        <%= link_to "Discover our partners", partners_path, class: "btn btn-green" %>
      </div>
      

    </section>
  </div>

<script>

  $(function(){
      $(".element").typed({
        strings: ["^1000affinity programs.", "employment laws.", "customer service."],
        typeSpeed: 115,
        backSpeed: 45,
        backDelay: 500,
        loop: true,

      });
  });
</script>

