<div class="container-fluid">
  <div class="media">
    <div class="media-body">
      <div class="media-heading">
        <div class="col-md-12 hero-title text-center">
          <h1>Revenue driven affinity programs for state chambers and associations of business for 35 years.</h1>
        </div>
      </div>
    </div>
  </div>
    <section class="row">
      <div class="col-md-4 text-center hero-content-2">
        <span class="glyphicon glyphicon-ok"></span>
        <h5 class="point-title">Chamber Perks</h5>
        <p class="point-description">We invite you to review our benefits and then do what thousands of other growing businesses have done – take advantage of the time and money you will save by using Chamber endorsed services. As you’ll soon discover, we’re much more than Florida’s best business advocate – helping you and your bottom line is what we do best.</p>
        <p><a href="#" class="btn btn-green" role="button">Learn more</a></p>
      </div>
      <div class="col-md-4 hero-content-2 text-center">
        <span class="glyphicon glyphicon-user"></span>
        <h5 class="point-title">Human Resources</h5>
        <p class="point-description">We distill the knowledge and experience of 28 law firms and more than 135 attorneys into resources for 23 states.  We are not attorneys and we are not human resources professionals, which we consider an advantage, because we look at ourselves as the final HR filter – if it makes sense to us, then we figure it will make sense to you.  We hope you'll agree that our resources truly make HR simple.</p>
        <p><a href="#" class="btn btn-green" role="button">Learn more</a></p>
      </div>
      <div class="col-md-4 text-center hero-content-2">
        <span class="glyphicon glyphicon-heart"></span>
        <h5 class="point-title">MyFuture 401K</h5>
        <p class="point-description">Retirement solution provides the greatest support in the most cost-effective manner possible in the market today. Key features include plan design flexibility, reduced administrative burden and liability, professionally managed, institutional grade investment options and onsite education and enrollment services from a local investment advisor.</p>
        <p><a href="#" class="btn btn-green" role="button">Learn more</a></p>
      </div>
    </section>
  </div>